/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */
html, body {
  height: 100%;
}
body {
  color: #fff;
  margin: 0 auto;
  font: 1em/1.3em Helvetica, sans-serif;
	background-color: #ddd9d2;
  font-family: 'Montserrat', Helvetica, arial, sans-serif;
}
.dark {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}
.background {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
  .background img { width: 100%; }

  @media (max-width: 767px) {
    .background img { 
      width: auto; 
      height: 100%;
    }
  }


.clearfix {
  clear: both;
}
.section {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 40px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #fff;  
  margin: 0 10px;
}

/* Button styles */
.btn {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
  
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 50px;
  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
    
  line-height: 50px;
  padding: 0 30px;  
  margin-bottom: 40px;
  font-size: 14px;
  text-shadow: 0 1px rgba(0,0,0,.1);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: 0 3px 0 0 #72ad0d;
  box-shadow: 0 3px 0 0 #72ad0d;
  background-color: #9bd668;
}
  .btn:active,
  .btn.active {
    top: 2px;
    -webkit-box-shadow: 0 1px 0 0 #72ad0d;
    box-shadow: 0 1px 0 0 #72ad0d;
  }


/* Dynamic Pricing Table */
.pricing-table {
  width: 63%;
  float: right;
  background-color: #fff;
  font-weight: normal;
}
  li {
    padding: 15px 20px 0;
    color: #444;
    text-align: left;
    font-size: 14px;
    line-height: 23px;
  }
    li.price {
      padding: 15px 20px;
      text-align: center;
      color: #fff;
      line-height: 70px;
      font-size: 32px;
      background-color: #a36bc6;
    }
      li.price i {
        color: #fff;
        line-height: 70px;
        font-weight: normal;
        margin-right: 10px;
      }
    li i {
      vertical-align: top;
      color: #7fc442;
      font-size: 23px;
      font-weight: bold;
      line-height: 23px;
      margin-right: 15px;
    }
    li:last-child {
      padding: 15px 20px;
    }
    li[class^="choice"] {
      padding: 0 20px;
      overflow: hidden;
      height: 0px;

      transition: .3s;
      -webkit-transition: .3s;
    }
      li[class^="choice"].active {
        height: 23px;
        padding: 15px 20px 0;
      }

.options-table {
  width: 30%;
  float: left;
  padding: 20px;
  background-color: #fff;
  color: #666;
}
  .options-table .switch {
    margin-bottom: 20px;
  }
    .options-table .switch:last-child {
      margin-bottom: 0px;
    }
    .options-table .switch span {
      float: left;
      line-height: 30px;
    }
    .options-table .switch .cmn-toggle,
    .options-table .switch label {
      float: right;
    }
